body {
    max-width: 900px;
    padding: 15px;
    
}
h1 {
    color: hotpink;
}

.card{
    background-color: red;
    max-width: 400px;
    height: 300px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    
}

.colors {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
  }
.color1 {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .color2 {
    background: gray;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .color3 {
    background: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }