   body{
      display: block;
      margin: 50px auto;
      max-width: 1000px;
      font-family: "Montserrat", sans-serif;
   }
   h1 {
    color: #3F51B5;
    text-align: center;
   }
   h2 {
      font-size: 40px;
   }
   p {
      margin: 5px 0 5px 0;
   }
   .intro-para{
      text-align: center;

   }
   .app-container {
      max-width: 900px;
      display: block;
      margin: 0 auto;
      padding: 30px;
   }
   .form-question {
      margin: 5px;
   }

   .submit-button {
      margin: 5px;
      background-color: #3F51B5;
   }
   .card{
    width: 400px;
    height: 600px;
    padding: 50px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    }
    
    .emoji{
      font-size: 40px;
    }
    .colors {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
    }
    .color1 {
    background: #3F51B5;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    }
    
    .color2 {
    background: #f237aa;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    }
    
    .color3 {
    background: #32d355;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    }

    .fonts {
      display: flex;
      width: 6rem;
      justify-content: space-between;
      cursor: pointer;
      }

      .font1, .font2, .font3{
         margin: 3px;
         padding: 5px 10px;
         border-radius: 5px;
         border: .5px #3F51B5 solid;
      }
      .emoji1, .emoji2, .emoji3 {
         border-radius: 50px;
         border: .5px #3F51B5 solid;
      }
      .font1 {
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         
         
      }
      .font2 {
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         display: flex;
      }
      .font3 {
         font-family: monospace;
      }


   .cardLabel {
   margin: 20px;
   }

      .cardAnswer {
         background-color: #FAF9F6; 
         padding: 10px;
         border-radius: 10px;
      }
      .credits {
         text-align: center;
      }