h1 {
color: #80858A;
}
ul {
    
    padding-left: 0px;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
li::first-letter {
    text-transform: capitalize;
}

.app-container {
    border: 1px solid #80858A;
    border-radius: 10px;
    margin: 30px auto;
    padding: 30px;
    max-width: 600px;
}

.credit-link {
    text-decoration: none;
    color:pink;
    
}
.credit-link:hover {
color:pink;
text-decoration: underline;
}

.main-info {
    padding-left: 0px;
}

.link:hover {
    color: pink;
}
.active {
    color: black;
    cursor: default;
    text-decoration: none;
}

.active:hover {
    color: black;
    cursor: default;
    text-decoration: none;
}